{% extends 'partials/base.html'%}
   
    {% block content %}


    <div class="jumbotron">

        <div class="container jumbo-content flex-column d-flex justify-content-around">

            <div class="titulo">
                <h1 class="col-4 col-sm-3 col-md-3 col-lg-4">Fragances for Women</h1>
                <p class="lead col-md-4">The best fragances for yourself or as a gift</p>
            </div>
            
            <div class="paragraph">
                <a class="btn btn-primary btn-lg" href="#" role="button">Discover All</a>
            </div>
            
            
        </div>
        
    </div>
   

    {% endblock content %}

      
    
