{% extends 'partials/base.html'%}
{% load static %} 
    {% block content %}


    <div class="container">
        <h2>Perfumes</h2>
        <div class="row">
            {% for producto in productos %}
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <img src="{{ producto.imagen_producto.url }}" class="card-img-top img-fluid" alt="{{ producto.nombre }}" style="height: 400px;">
                    <div class="card-body">
                        <h5 class="card-title">{{ producto.nombre }}</h5>
                        <p class="card-text">Precio: ${{ producto.precio }}</p>
                        <p class="card-text">Categoría: {{ producto.categoria }}</p>
                        <p class="card-text">{{ producto.descripcion }}</p>
                    </div>
                    
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    


    {% endblock content %}

      