{% extends "partials/base.html" %}

    
{% block content %}


    <div class="container mt-5">
        <h2 class="text-center">Formulario de Registro</h2>
        <form action="" method="POST">

            {% csrf_token %}
            
            {{form.as_p}}

            <button type="submit">Registrar</button>



            <!--<div class="mb-3">
                <label for="email" class="form-label">Correo Electrónico</label>
                <input type="email" class="form-control" id="email" placeholder="nombre@ejemplo.com" required>
            </div>
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombre" placeholder="Nombre" required>
            </div>
            <div class="mb-3">
                <label for="nombre" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="nombre" placeholder="Contraseña" required>
            </div>
            <div class="mb-3">
                <label for="nombre" class="form-label">Repita Contraseña</label>
                <input type="password" class="form-control" id="nombre" placeholder="Repita Contraseña" required>
            </div>
            
            <button type="submit" class="btn btn-primary">Registrar</button>
        </form>
    </div> -->


{% endblock content %}
